<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="#/admin">
        <button class="btn btn-default pull-right">
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Airplane</h1>
      <h2>Airplane Accessories</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a class="center-block homeimg" href="#/products"><h3>Flyin in & Out</h3></a>
    </div>
  </div>
</div>
