<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="#/">
        <button class="btn btn-default pull-right">
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Airplane</h1>
      <h2>Sorry the page you requested cannot be found.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="" alt="" class="center-block 404img">
    </div>
  </div>
</div>
