<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="">
        <button class="btn btn-default pull-right">
        </button>
      </a>
      <a href="#/">
        <button class="btn btn-default pull-right">
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Airplane</h1>
      <h2>Airplane Accessories</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 prodbtm" ng-repeat="product in mainCtrl.products">
      <h3>{{product.name}}</h3>
      <img class="prodimg" src="{{product.url}}" alt="">
      <p>{{product.details}}</p>
      <h3 class="price">${{product.price}}</h3>
    </div>
  </div>
</div>
